.home-hero {

    min-height: calc(100vh);
    padding: 100px 0;
    /* background: linear-gradient(135deg, #007bff 0%, #00d9ff 100%);  */
    background: linear-gradient(135deg, #6c757d 0%, #343a40 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #198754;
}

.home-hero .container {
    z-index: 10;
}

